@import "tailwindcss";
@import "./theme/index.css";
@import "./content/index.css";
@import "./utilities.css";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/*====== user-drag ======*/
#web-root img,
#web-root a,
#web-root button {
  -webkit-user-drag: none;
}

body {
  touch-action: none;
}
