/* Elements */
@layer components {
  /* ----------------------------------------
     list
  ---------------------------------------- */
  /* Base spacing for ul/ol */
  .content ul,
  .content ol {
    margin-top: 1.5em;
    padding-left: 1.2em;
    line-height: 1.6;
    list-style: none;
  }
  /* ul */
  .content ul > li {
    position: relative;
    padding-left: 1.2em;
  }
  .content ul > li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.75em;
    width: 0.5em;
    height: 2px;
    background: var(--color-accent-foreground);
    opacity: 0.5;
  }
  /* ol */
  .content ol {
    counter-reset: modern-counter;
  }
  .content ol > li {
    position: relative;
    counter-increment: modern-counter;
    padding-left: 1.2em;
  }
  .content ol > li::before {
    content: counter(modern-counter) ".";
    position: absolute;
    left: 0;
    top: 0em;
    font-variant-numeric: tabular-nums;
    font-weight: 600;
    color: var(--color-accent-foreground);
    opacity: 0.5;
  }
  .content ul > li + li,
  .content ol > li + li {
    margin-top: 1em;
  }

  /* blockquote */
  .content blockquote {
    border-left: 4px solid
      color-mix(in oklab, var(--color-secondary-foreground) 8%, transparent 92%);
    padding: 0.6em 1em 0.6em 1em;
    margin-top: 1em;
    font-style: italic;
    background: linear-gradient(
      to right,
      color-mix(
        in oklab,
        var(--color-secondary-foreground) 4%,
        transparent 96%
      ),
      color-mix(in oklab, var(--color-secondary-foreground) 2%, transparent 98%)
    );
    color: color-mix(
      in oklab,
      var(--color-secondary-foreground) 70%,
      transparent 30%
    );
    border-radius: 0.25em;
  }
  .content blockquote p {
    margin: 0;
  }

  /* hr */
  .content hr {
    border: none;
    height: 1px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      color-mix(
          in oklab,
          var(--color-secondary-foreground) 30%,
          transparent 70%
        )
        10%,
      color-mix(
          in oklab,
          var(--color-secondary-foreground) 30%,
          transparent 70%
        )
        10%,
      rgba(0, 0, 0, 0) 100%
    );
    margin-top: 3rem;
  }
}
