:root {
  /* --- Modular scale factor --- */
  --content-scale-factor: 1.2;
  /* --- Fluid base for smallest heading --- */
  --content-fluid-base: clamp(
    13px,
    calc(13px + (18 - 13) * ((100vw - 640px) / (1536 - 640))),
    18px
  );
  /* font sizes  */
  --content-h1-size: calc(
    var(--content-fluid-base) * var(--content-scale-factor) *
      var(--content-scale-factor) * var(--content-scale-factor) *
      var(--content-scale-factor)
  );
  --content-h2-size: calc(
    var(--content-fluid-base) * var(--content-scale-factor) *
      var(--content-scale-factor) * var(--content-scale-factor)
  );
  --content-h3-size: calc(
    var(--content-fluid-base) * var(--content-scale-factor) *
      var(--content-scale-factor)
  );
  --content-h4-size: calc(
    var(--content-fluid-base) * var(--content-scale-factor)
  );
}

/* Typography */
@layer components {
  .content h4 {
    font-size: var(--content-h4-size);
    line-height: 1.4;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
  }

  .content h3 {
    font-size: var(--content-h3-size);
    line-height: 1.4;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    font-weight: 500;
    scroll-margin-top: 4.3rem;
  }

  .content h2 {
    font-size: var(--content-h2-size);
    line-height: 1.4;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    font-weight: 500;
    scroll-margin-top: 4.3rem;
  }

  .content h1 {
    font-size: var(--content-h1-size);
    line-height: 1.3;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 600;
    scroll-margin-top: 4.3rem;
  }

  .content p,
  .content blockquote {
    font-size: clamp(16px);
    line-height: 1.6;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
