:root {
  /* --- Modular scale factor --- */
  --content-scale-factor: 1.4;
  /* --- Fluid base for smallest heading --- */
  --content-fluid-base: clamp(
    11px,
    calc(11px + (16 - 13) * ((100vw - 640px) / (1536 - 640))),
    16px
  );
  /* font sizes  */
  --content-h1-size: calc(
    var(--content-fluid-base) * var(--content-scale-factor) *
      var(--content-scale-factor) * var(--content-scale-factor)
  );
  --content-h2-size: calc(
    var(--content-fluid-base) * var(--content-scale-factor) *
      var(--content-scale-factor)
  );
  --content-h3-size: calc(
    var(--content-fluid-base) * var(--content-scale-factor)
  );
  --content-h4-size: calc(
    var(--content-fluid-base) * var(--content-scale-factor)
  );
}

/* Typography */
@layer components {
  .content h1 {
    font-size: var(--content-h1-size);
    line-height: 1.3;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 600;
  }

  .content h2 {
    font-size: var(--content-h2-size);
    line-height: 1.4;
    margin-top: 1.5em;
    font-weight: 600;
    scroll-margin-top: 5.6rem;
  }

  .content h3:not([data-slot="folder-header"]) {
    font-size: var(--content-h3-size);
    line-height: 1.4;
    margin-top: 2.4em;
    font-weight: 600;
    scroll-margin-top: 4.5rem;
  }

  .content h4 {
    font-size: var(--content-h4-size);
    line-height: 1.4;
    margin-top: 1.2em;
  }

  .content p {
    font-size: 16px;
    line-height: 1.7;
    margin-top: 1em;
  }
}
